# generated media
voice/
subtitles/
final/
logs/

# source media
# backgrounds/
# music/

# excel pipeline
data/*.xlsx

# python
.venv/
__pycache__/
*.pyc
logs/
token.json
client_secret.json

# Ignore all video files
*.mp4

# Optional (recommended)
*.mov
*.avi
*.mkv

# Ignore heavy folders if needed
full_videos/backgrounds_full/

*.mp4
*.mov
*.avi
*.mkv
full_videos/backgrounds_full/

token.json
client_secret.json
*.mp4
*.mov
*.avi
*.mkv
full_videos/backgrounds_full/
.venv/
__pycache__/
logs/
.env